<div>
<table *ngIf="show2" style="width:100%" id="ctable">
<tr>
    <th>First Name</th>
    <th>Last Name</th>
</tr>
<tr *ngFor="let contact of contacts">
    <td (click)="detail(contact)"> {{ contact.firstName }} </td>
    <td (click)="detail(contact)"> {{ contact.lastName }} </td> 
</tr>
</table>

<table *ngIf="show" style="width:100%" id="ctable">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    <tr>
        <td (click)="back()"> {{ d.firstName }} </td>
        <td (click)="back()"> {{ d.lastName }} </td>
        <td (click)="back()"> {{ d.phoneNumber }} </td>
        <td (click)="back()"> {{ d.email }} </td>     
    </tr>
    </table>

</div>



<!-- <ul *ngIf="contactsObservable | async as contacts else empty">

<li *ngFor="let contact of contacts">
    <td> {{ contact.firstName }} </td>
    <td> {{ contact.lastName }} </td>
    <td> {{ contact.phoneNumber }} </td>
    <td> {{ contact.email }} </td>
</li>

</ul>

<ng-template #empty> No Contacts Yet </ng-template> -->