#ctable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #ctable td, #ctable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #ctable tr:nth-child(even){background-color: #f2f2f2;}
  
  #ctable tr:hover {background-color: #ddd;}
  
  #ctable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
  }