<main role="main">
    
  <section class="jumbotron text-center transparent">
    <div class="container">
      <p class="lead text-muted bounce">When you’re on top of your money, life is good. We help you effortlessly manage your finances in one place.</p>
      <p>
        <a href="" class="btn btn-primary button1" [routerLink]="['./../log-in']">Log In</a>
        <a href="" class="btn btn-outline-info button1" [routerLink]="['./../sign-up']">Sign Up Free</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/assets/billsbg.jpg" width="100%" height="225" class="bd-placeholder-img card-img-top">
            <div class="card-body fixedHeight">
              <p class="card-text h5">Easily create budgets, and see our suggestions based on your spending.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/assets/budgetbg.jpg" width="100%" height="225" class="bd-placeholder-img card-img-top">
            <div class="card-body fixedHeight">
              <p class="card-text h5">Track your bills like never before. Get alerts when it's time to pay so you never miss one.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/assets/creditbg.jpg" width="100%" height="225" class="bd-placeholder-img card-img-top">
            <div class="card-body fixedHeight">
              <p class="card-text h5">Find out yours for free and get tips to help improve it, no credit card required.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  
</main>

<span id="element-to-animate" class="bounceInRight">
    </span>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
