.card-container.card {
  max-width: 375px;
  padding: 40px;
}

.card {
  background-color: #F7F7F7;
  padding: 20px 25px 30px;
  margin: 50px auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#cardacc {
  font-size: 30px;
}

button {
  margin-top: 15px;
}
