
<div class="container">
  <div class="card card-container shadow rounded">
    <form>
      <div class="form-group">
        <label id="label1" for="removeCard">Card: {{account.account}}</label>
        <div>
        <button id="button1" type="submit" class="btn btn-danger btn-block" (click)="removeAcc()">Remove</button>
        </div>
        <div>
        <button type="cancel" class="btn btn-secondary btn-block" (click)="back()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
